@use '~src/variables' as *;

.buttonRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding-top: 1rem;

  button:disabled {
    background: $disabled-grey;

    &:hover {
      cursor: default;
    }
  }
}
